[alias]
  # Git Commit, Add all and Push — in one step.
  cap = "!f() { git add .; git commit -m \"$@\"; }; f"

  # NEW.
  new = "!f() { git cap \"✨ feat: $@\"; }; f"

  # IMPROVE.
  imp = "!f() { git cap \"♻️ refacto: $@\"; }; f"

  # FIX.
  fix = "!f() { git cap \"🩹 fix: $@\"; }; f"

  # RELEASE.
  rlz = "!f() { git cap \"🚀 deploy: $@\"; }; f"

  # DOC.
  doc = "!f() { git cap \"📝 doc: $@\"; }; f"

  # TEST.
  tst = "!f() { git cap \"🦺 test: $@\"; }; f"

  # WIP CHANGE.
  wip = "!f() { git cap \"🚧 wip: $@\"; }; f"

  # HOTFIX
  hot = "!f() { git cap \"🚑️ hotfix: $@\"; }; f"

  # SECURITY
  sec = "!f() { git cap \"🔒️ security: $@\"; }; f"

  # TAG
  tg = "!f() { git cap \"🔖 tag: $@\"; }; f"

  # BREAKING CHANGE.
  brk = "!f() { git cap \"💥 breaking: $@\"; }; f"

  # TYPOS
  typo = "!f() { git cap \"✏️ typo: $@\"; }; f"

  # CONFIG
  cfg = "!f() { git cap \"🔧 config: $@\"; }; f"

  # UPGRADE DEPENDENCIES
  upg = "!f() { git cap \"⬆️ dependencies: $@\"; }; f"

  # UI
  ui = "!f() { git cap \"💄 ui: $@\"; }; f"

[user]
	email = git@antho.dev
	name = Cedric Anthony
